body {
  background-image: url("sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: large;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background: rgba(255,255,255, 0.3);
 
  padding: 40px;
  /* opacity: 0.7; */
}
.mini-form-area {
  position: absolute;
  padding-top: 20px;
  padding-right: 30px;
  right: 600px;
  top: 250px;
  left: 100px;
  margin-top: 10px;
  transform: translate(-50%,-50%); 
  width: 130px;
  height: 100px;
  box-sizing: border-box;
  /* background: rgba(255,255,255, 0.1); */
  /* padding: 40px; */
  /* opacity: 0.7; */
}
.mini-form-area2 {
  position: absolute;
  top: 280px;
  left: 390px;
  padding-top: 50px;
  transform: translate(-50%,-50%); 
  width: 340px;
  height: 220px;
  box-sizing: border-box;
  /* background: rgba(255,255,255, 0.1); */
  padding: 40px;
  /* opacity: 0.7; */
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(217, 217, 255);
  font-size: 18px;
  font-style: italic;
}
input[type=submit] {
  width: 100%;
  background-color: #050b68;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-area p{
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.mini-form-area img{
  height:90px;
}
.mini-form-area figure{
  margin-left: 0px;
  margin-top: 0px;
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}